<a href="https://colab.research.google.com/github/AJAYMULAKALAPALLI/python/blob/main/conditional.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

section 5
conditional statements

if else

In [4]:
a=int(input("enter a number"))
if (a<0):
 print("negitive")
else:
 print("positive")

enter a number4
positive

finding difference between two numbers

In [7]:
a=int(input("enter a number"))
b=int(input("enter a number"))
if(a-b>0):
  print("a-b")
else:
    print("b-a")

enter a number4
enter a number2
a-b

check a number is even or odd

In [10]:
a=int(input("enter a number"))
if(a%2==0):
  print("even")
else:
  print("odd")

enter a number3
odd

check age eligibility for casting vote

In [11]:
age=int(input("enter age"))
if(age>18):
  print("eligible for voting")
else:
  print("not eligible for voting")

enter age50
eligible for voting

marks with in range

In [12]:
marks=int(input("enter marks"))
if(marks>=0 and marks<=100):
  print("valid")
else:
  print("invalid")

enter marks101
invalid

male or female

In [15]:
gender = input('Enter Gender')

if gender=='m' or gender=='M':
    print('Male')
else:
    print('Female')

Enter Genderk
Female

check person eligible to work

In [14]:
age=int(input("enter age"))
if(age>=18 and age<=60):
  print("eligible to work")
else:
  print("not eligible to work")

enter age15
not eligible to work

student pass or fail

In [16]:
math = int(input('Enter Maths Marks'))
phy = int(input('Enter Physics Marks'))
chem = int(input('Enter Chemestry Marks'))

if math >= 45 and phy >= 45 and chem >= 45:
    print('Passed')
else:
    print('Failed')

Enter Maths Marks67
Enter Physics Marks98
Enter Chemestry Marks56
Passed

person authorise for admin access

In [18]:
username = input('Enter Username')

if username=='john' or username=='smith':
    print('Authorised')
else:
    print('Not Authorised')

Enter Usernamesai
Not Authorised

vowel or consonent

In [17]:
ch = input('Enter a lower case letter')

if ch == 'a' or ch == 'e' or ch == 'i' or ch == 'o' or ch == 'u' or ch == 'A':
    print('Vowel')
else:
    print('Consonant')

Enter a lower case letterh
Consonant

calculate discounted amount

In [25]:
amount=int(input("enter amount"))
if(amount<=1000):
  discount=amount*10/100
elif (1000<amount and amount<=5000):
  discount=amount*20/100
elif (5000<amount and amount<=10000):
  discount=amount*30/100
else:
  discount=amount*50/100

discountedamount=amount-discount
print(discountedamount )

enter amount500
450.0

take a day number and display day name

In [16]:
day = int(input('Enter Day Number'))

if day == 1:
    print('Sunday')
elif day == 2:
    print('Monday')
elif day == 3:
    print('Tuesday')
elif day == 4:
    print('Wednesday')
elif day == 5:
    print('Thursday')
elif day == 6:
    print('Friday')
elif day == 7:
    print('Saturday')
else:
    print('Invalid Day Number')

Enter Day Number9
Invalid Day Number

check wheather a year is a leap year or not

In [17]:
year=int(input("enter a year"))
if year%100==0:
  if year%400==0:
    print("leap year")
  else:
    print("not a leap year")
elif year%4==0:
  print("leap year")
else:
  print("not a leap year")

enter a year2023
not a leap year