<a href="https://colab.research.google.com/github/AJAYMULAKALAPALLI/python/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

adding three numbers using function

In [2]:
def add(a,b,c):
  d=a+b+c
  print(d)
add(1,2,3)

6

positional parameter

In [3]:
def net_sal(basic,allowance,deduction):
  sal=basic+allowance+deduction
  print(sal)
net_sal(8000,6000,2000)

16000

keyword argument

In [4]:
def net_sal(basic,allowance,deduction):
  sal=basic+allowance+deduction
  print(sal)
net_sal(basic=8000,allowance=6000,deduction=2000)

16000

positional and keyword

In [5]:
def net_sal(basic,allowance,deduction):
  sal=basic+allowance+deduction
  print(sal)
net_sal(basic=8000,6000,2000)

SyntaxError: ignored

default arguments

In [3]:
def add(a,b=0,c=0):
  print(a+b+c)
add(3,5)

8

mixed positional and keyword

In [8]:
def fun(a,b,/,c,d,*,e,f):
  print(a)
fun(1,2,3,4,e=1,f=0)

1

variable  length positional arguments

In [10]:
def fun(*a):
 print(a)
fun(1,2,3,3)

(1, 2, 3, 3)

unpacking arguments

In [12]:
def fun(a,b,c):
  print(a,b,c)
L1=[1,3,4]
fun(*L1)

1 3 4

multiple return arguments

In [18]:
def fun(a,b,c):
  print (a+1,b+1,c+1)
x = fun(1,2,3)

2 3 4

local and global variable

In [21]:
g=10
def fun(a,b):
 c=a+b
 print(c)
 print(g)
fun(1,2)

3
10

recursive function

In [28]:
def fact(n):
  if n==0:
    return 1
  else:
    return n*fact(n-1)
fact(5)

120

check difference is greater than 5

In [11]:
def diff(a,b):
  difference=a-b
  if(difference<5):
    print(True)
  else:
    print(False)

In [7]:
diff(4,2)

True

In [12]:
diff(7,1)

False

max of three numbers

In [21]:
def max(a,b,c):
  if(a>b and a>c):
    return a
  elif(b>a and b>c):
    return b
  else:
    return c

In [22]:
max(2,3,1)

3

In [23]:
max(12,45,67)

67

printing message based on positional arguments

In [38]:
def fun(name,profission):
  print('My name is {} , i am a {}'.format(name,profission))

In [39]:
fun('ajay','doctor')

My name is ajay , i am a doctor

getting planet name

In [41]:
def planet(id):
  planets = {1:'Mercury', 2:'Venus', 3:'Earth', 4:'Mars', 5:'Jupiter', 6:'Saturn', 7:'Uranus', 8:'Neptune', 9:'Pluto'}
  return planets[id]

id=int(input('enter id:'))
planet=planet(id)
print(planet)

enter id:4
Mars

scores ending with 0

In [48]:
def sum0(L):
 s = 0
 for e in L:
    if e % 10 == 0:
      s += e
 return s


L = [100, 123, 200, 234, 350]

print(sum0(L))

650

inverting a dictionary

In [57]:
def dict(d):
  newd={}
  for k,v in d.items():
    newd[v]=k
  return newd

In [58]:
d1 = {'a':10, 'b':20, 'c':30, 'd':40}
dict(d1)

{10: 'a', 20: 'b', 30: 'c', 40: 'd'}

case counting letters

In [68]:
def fun(phrase):
  lower=0
  upper=0
  for i in phrase:
    if i.islower():
      lower=lower+1
    elif i.isupper():
      upper=upper+1
  return lower,upper

phrase=input('enter:')
fun(phrase)

enter:KDKDKdjkjfj

(6, 5)

function as object

In [69]:
def display():
 print('hello')
d=display
d()

hello

nested funtion

In [81]:
def outer():
  def inner():
    print('hello')
  inner()

In [82]:
outer()

hello

function as parameter

In [1]:
def display():
  print('hello')

def fun(r):
  r()
fun(display)

hello