<a href="https://colab.research.google.com/github/AJAYMULAKALAPALLI/python/blob/main/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

section 6(loops)
while loop

printing a name 10 times

In [ ]:
count=0
while(count<10):
  print(count+1,"ajay")
  count=count+1

1 ajay
2 ajay
3 ajay
4 ajay
5 ajay
6 ajay
7 ajay
8 ajay
9 ajay
10 ajay

printing a number reverse

In [ ]:
n=int(input("enter a number"))
while(n>0):
  r=n%10
  n=n//10
  print(r)

enter a number123
3
2
1

multiplication table for given number

In [ ]:
n=5
count=0
while(count<=10):
  print(n,"*",count,"=",n*count)
  count=count+1

5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

counting the number of digits in a number

In [ ]:
n=int(input("enter a number"))
count=0
while(n>0):
  n=n//10
  count=count+1
print(count)

enter a number345
3

find sum of digit in a number

In [ ]:
n=int(input("enter a number"))
sum=0
while(n>0):
  r=n%10
  n=n//10
  sum=sum+r
print(sum)

enter a number123
6

reverse a number

In [ ]:
n=int(input("enter a number"))
rev=0
while(n>0):
  r=n%10
  n=n//10
  rev=rev*10+r
print(rev)

enter a number123
321

check number is palindrome or not

In [ ]:
n=int(input("enter a number"))
m=n
rev=0
while(n>0):
  r=n%10
  n=n//10
  rev=rev*10+r
print(rev)
if(rev==m):
  print("palindrome")
else:
  print("not palindrome")

enter a number1221
1221
palindrome

infinate loop
below t is capital

In [ ]:
while true:
  print("ajay")

NameError: ignored

break(positive or negative)

In [ ]:
while(True):
 n=int(input("enter a number"))
 if(n>0):
  print("positive")
 elif(n<0):
  print("negitive")
 else:
  break

enter a number5
positive
enter a number6
positive
enter a number0

continue(printing numbers from 1 to 10 exept 3 multiples)

In [ ]:
count=0
while(count<10):
 n=int(input("enter a number"))
 if(n%3==0):
  continue
 print(n)
 count=count+1

enter a number1
1
enter a number2
2
enter a number3
enter a number4
4
enter a number5
5
enter a number6
enter a number7
7
enter a number8
8
enter a number9
enter a number10
10
enter a number11
11
enter a number12
enter a number13
13
enter a number14
14

pass(printing 1 to 10 except 3 multiples)

In [ ]:
count=0
while(count<10):
 n=int(input("enter a number"))
 if(n%3==0):
  pass
 else:
  print(n)
 count=count+1

enter a number1
1
enter a number2
2
enter a number3
enter a number4
4
enter a number5
5
enter a number6
enter a number7
7
enter a number8
8
enter a number9
enter a number10
10

for loop
(printing 10 numbers)

In [ ]:
for i in range(10):
  print (i)

0
1
2
3
4
5
6
7
8
9

multiplication table for a given number using for loop

In [ ]:
n=5
for i in range (5):
  print(n,"*",i,"=",n*i)

5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20

factorial of a given number

In [ ]:
n=int(input("enter a number"))
fact=1
for n in range (1,n+1):
  fact=fact*n
print(fact)

enter a number5
120

print n terms of AP series

In [ ]:
a=int(input("enter a number"))
d=int(input("enter d number"))
n=int(input("enter n number"))
for t in range(a,a+n*d,d):
  print(t)

enter a number5
enter d number2
enter n number6
5
7
9
11
13
15

print n terms of fibonacci series

In [ ]:
n = int(input('Enter Number of Terms'))
a = 0
b = 1

for i in range(n+1):
    print(a)
    c = a + b
    a = b
    b = c

Enter Number of Terms5
0
1
1
2
3
5

factors of a number

In [ ]:
n=int(input("enter a number"))
for i in range (1,n+1):
  if(n%i==0):
    print(i)

enter a number12
1
2
3
4
6
12

check it is prime number or not

In [ ]:
n=int(input("enter a number"))
count=0
for i in range (1,n+1):
  if n%i==0:
    count=count+1
if count==2:
  print("prime number")
else:
  print("not a prime number")

enter a number3
prime number

nested loop

In [ ]:
for i in range(0,5):
  for  j in range(0,5):
    print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [ ]:
for i in range(0,5):
  for  j in range(0,5):
    if i>=j:
     print("*",end="")
  print("")

*
**
***
****
*****

printing prime numberws from 1 to 100

In [5]:
for n in range(1,100+1):
 count = 0
 for i in range(1,n+1):
  if n%i == 0:
   count += 1
if count == 2:
  print(n)

printing patterns

In [18]:
for j in range(0,6):
 for i in range(0,6):
  if j>=i:
   print("*",end="")
 print("")

*
**
***
****
*****
******

match case(printing a day)

In [23]:
day=int(input("enter a day"))
match day:
  case 1:
    print("monday")
  case 2:
    print("tuesday")
  case 3:
    print("wednesday")
  case 4:
    print("thrusday")
  case 5:
    print("friday")
  case 6:
    print("saturday")
  case _:
    print("holiday")

enter a day6
saturday