<a href="https://colab.research.google.com/github/AJAYMULAKALAPALLI/python/blob/main/oops_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

how to write a class

In [ ]:
class rectangle:
  def __init__(self,l,b):
    self.length=l
    self.breadth=b
  def area(self):
    return self.length*self.breadth
r=rectangle(1,3)
r.area()
r2=rectangle(3,4)
r2.area()

12

self and constructor

In [ ]:
class rectangle:
  def __init__(self,l,b):
    self.length=l
    self.breadth=b
  def area(self):
    return self.length*self.breadth
r=rectangle(1,3)
r.area()
print(id(r))

136659758277696

instance varible and nethod

In [ ]:
class rectangle:
  def __init__ (self,length,breadth):
    self.length=length
    self.breadth=breadth

  def area(self):
    return self.length*self.breadth
  def parameter(self):
    return 2*(self.length*self.breadth)

In [ ]:
c1=rectangle(1,2)
c1.area()
c1.parameter()

4

get and set methods

In [ ]:
class rectangle:
  def __init__(self,l,b):
    self.length=l
    self.breadth=b
  def getlength(self):
    return self.length
  def setlength(self,l):
    self.length=l
  def area(self):
    return self.length*self.breadth

In [ ]:
r=rectangle(1,2)
print(r.getlength())
r.setlength(4)
print(r.area())

1
8

206 inharitance

In [ ]:
class car:
  def bolaro():
    print('bolary is strong car')
  def swift():
    print('swift is security car')
class luxary(car):
  def venue():
    print('venue is luaxary car')
l=luxary
l.venue()

venue is luaxary car

207 constructor in inheritance

In [ ]:
class rectangle:
  def __init__ (self,length,breadth):
    self.length=length
    self.breadth=breadth

  def area(self):
    return self.length*self.breadth
  def parameter(self):
    return 2*(self.length*self.breadth)
r=rectangle(1,2)
r.area()

2

In [ ]:
class cubiod(rectangle):
  def __init__(self,height,length,breadth):
    self.height=height
    self.length=length
    self.breadth=breadth
  def area(self):
    return self.length*self.breadth*self.height
c=cubiod(1,2,3)
c.area()

6

normal program

In [ ]:
class car:
  def creata(self):
    print('creata is driving')
  def benz(self):
    print('benz is driving')
c=car()

In [ ]:
c.creata()

creata is driving

In [ ]:
c.benz()

benz is driving

polymorphism

In [ ]:
def petlover(pet):
  pet.talk()
  pet.eat()

class dog:
  def talk(self):
    print('dog is talking')
  def eat(self):
    print('dog is eating')
class duck:
  def talk(self):
    print('duck is talking')
  def eat(self):
    print('duck is eating')
d1=dog()
petlover(d1)

dog is talking
dog is eating

method overraiding

In [ ]:
class iphone6:
  def home(self):
    print('button')
class iphone10(iphone6):
  def home(self):
    print('touch')
    super().home()
i=iphone10()
i.home()

touch
button

dice in games

In [ ]:
from random import *
class dice:
  def __init__(self,sides):
    self.sides=sides
  def roll_dice(self):
    return randint(1,self.sides)

d=dice(12)
print(d.roll_dice())
print(d.roll_dice())

6
7

class for circle

In [ ]:
from math import *
class circle:
  def __init__(self,radius):
    self.radius=radius
  def area(self):
    return pi*self.radius * self.radius
  def perimeter(self):
    return 2*pi*self.radius

c=circle(2)
c.area()

12.566370614359172

book details

In [ ]:
class book:
  def  __init__(self,title,author,price):
    self.title=title
    self.author=author
    self.price=price

  def show_details(self):
    return self.title,self.author,self.price

b=book('python','abdul',1000)
b.show_details()

('python', 'abdul', 1000)

details of an employee

In [ ]:
class employee:
  employeecount=101
  def __init__(self,name,salary,designation):
    self.name=name
    self.salary=salary
    self.designation=designation
    self.eid="e"+str(employee.employeecount)
    employee.employeecount+=1
  def showdetails(self):
    print('name:',self.name)
    print('salary:',self.salary)
    print('designation:',self.designation)
    print('eid:',self.eid)
  def totalemp(employee):
    return employee.employeecount-101
e=employee('ajay',10000,'be')
e.showdetails()
e.totalemp()

e=employee('ravi',10000,'be')
e.showdetails()
e.totalemp()

name: ajay
salary: 10000
designation: be
eid: e101
name: ravi
salary: 10000
designation: be
eid: e102

2

simple class for calculator

In [ ]:
class calculator:
  def add(a,b):
    return a+b
  def sub(a,b):
    return a-b
  def mul(a,b):
    return a*b
  def div(a,b):
    return a/b
print(calculator.add(1,2))
print(calculator.sub(1,2))
print(calculator.mul(1,2))
print(calculator.div(1,2))

3
-1
2
0.5

customer phone number

In [ ]:
class customer:
  def __init__(self,name,phoneno):
    self.name=name
    self.phoneno=phoneno
  def get_name(self):
    return self.name
  def get_phoneno(self):
    return self.phoneno
  def set_phoneno(self,phoneno):
    self.phoneno=phoneno
c=customer('ajay',8367510639)
print(c.get_name())
print(c.get_phoneno())
c.set_phoneno(9848342679)
print(c.get_name())
print(c.get_phoneno())

ajay
8367510639
ajay
9848342679

currency converter

In [ ]:
class currencyconvertor:
  def __init__(self,currency,rate):
    self.currency=currency
    self.rate=rate
  def get_currency(self):
    return self.currency
  def get_rate(self):
    return self.rate
  def set_currency(self,currency):
    self.currency=currency
  def set_rate(self,rate):
    self.rate=rate
  def convert(self,amount):
    return self.currency+' currency converted to  '+str(amount*self.rate)
c=currencyconvertor('usd',70)
c.convert(100)

'usd currency converted to  7000'

bank account

In [ ]:
class account:
  accno=1001
  def __init__(self,name,balance):

    if balance<1000:
     raise MinmumBalanceError('account cannot be created')
    self.name=name
    self.balance=balance
    account.accno+=1
  def deposit(self,amount):
    self.balance+=amount
    return self.balance
  def withdral(self,amount):
    if self.balance-amount<1000:
      raise MinmumBalanceError('amount cannot be withdral')
    self.balance-=amount
    return self.balance

  def showdetails(self):
    print('name:',self.name)
    print('accno:',self.accno)
    print('balance:',self.balance)
a=account('ajay',2000)
a.showdetails()
print('')
a=account('ravi',20000)
a.showdetails()
print('')
a=account('raju',1000)
a.deposit(500)
a.showdetails()
print('')
a=account('srinu',1500)
a.withdral(500)
a.showdetails()

name: ajay
accno: 1002
balance: 2000

name: ravi
accno: 1003
balance: 20000

name: raju
accno: 1004
balance: 1500

name: srinu
accno: 1005
balance: 1000

pet details

In [ ]:
class dog:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def info(self):
    print('this is dog')
  def makesounds(self):
    print('bow bow')
class cat:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def info(self):
    print('this is cat')
  def makesounds(self):
    print('meaw')
def petlover(pet):
   pet.info()
   pet.makesounds()
d=dog('blaky',13)
c=cat('aaa',2)
print(petlover(d))
print('')
print(petlover(d))

this is dog
bow bow
None

this is dog
bow bow
None